## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential

In [3]:
#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# changes made attempting to optimize / increase accuracy:
#              - bin 1 less classification
#              - make special considerations 1 column instead of 2 (1/0 instead of Y/N)
#              - bin income amount more aggressively
#              - bin some values of affiliation
#              - increased nodes and epochs

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
# also drop special considerations & status, very very few cases of these having values that matter
# application_df.drop(['EIN', 'NAME', 'SPECIAL_CONSIDERATIONS', 'STATUS'], axis = 1, inplace = True)
application_df.drop(['EIN', 'NAME'], axis = 1, inplace = True)

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")
    
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
class_counts = application_df['CLASSIFICATION'].value_counts()
classifications_to_replace = [c for c in class_counts.index if c not in ['C1000', 'C2000', 'C1200', 'C3000', 'C2100', 'C7000']]

# Replace in dataframe
for c in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(c,"Other")

In [7]:
# check values of INCOME_AMT
application_df['INCOME_AMT'].value_counts()

0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: INCOME_AMT, dtype: int64

In [8]:
# bin INCOME_AMT
for i in ['1M-5M', '5M-10M']:
    application_df['INCOME_AMT'] = application_df['INCOME_AMT'].replace(i, '1M-10M')
for i in ['10M-50M', '50M+']:
    application_df['INCOME_AMT'] = application_df['INCOME_AMT'].replace(i, '10M+')
for i in ['1-9999', '10000-24999']:
    application_df['INCOME_AMT'] = application_df['INCOME_AMT'].replace(i, '1-24999')
application_df['INCOME_AMT'].value_counts()

0                24388
25000-99999       3747
100000-499999     3374
1-24999           1271
1M-10M            1140
10M+               379
Name: INCOME_AMT, dtype: int64

In [9]:
# check values of affiliation
application_df['AFFILIATION'].value_counts()

Independent         18480
CompanySponsored    15705
Family/Parent          64
National               33
Regional               13
Other                   4
Name: AFFILIATION, dtype: int64

In [10]:
# bin affiliation
for a in ['National', 'Regional']:
    application_df['AFFILIATION'] = application_df['AFFILIATION'].replace(a, 'Area')
application_df['AFFILIATION'].value_counts()

Independent         18480
CompanySponsored    15705
Family/Parent          64
Area                   46
Other                   4
Name: AFFILIATION, dtype: int64

In [12]:
#application_df['USE_CASE'].value_counts()

In [13]:
# bin use-case - didn't end up doing this
#for u in ['CommunityServ', 'Heathcare']:
#    application_df['USE_CASE'] = application_df['USE_CASE'].replace(u, 'Other')
#application_df['USE_CASE'].value_counts()

In [15]:
#application_df['ORGANIZATION'].value_counts()

In [16]:
# bin organization - didn't end up doing this
#for o in ['Co-operative', 'Corporation']:
#   application_df['ORGANIZATION'] = application_df['ORGANIZATION'].replace(o, 'Other')
#application_df['ORGANIZATION'].value_counts()

In [17]:
application_df['SPECIAL_CONSIDERATIONS'] = application_df['SPECIAL_CONSIDERATIONS'].replace('Y', 1)
application_df['SPECIAL_CONSIDERATIONS'] = application_df['SPECIAL_CONSIDERATIONS'].replace('N', 0)

In [18]:
application_df.nunique()

APPLICATION_TYPE             9
AFFILIATION                  5
CLASSIFICATION               7
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   6
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [19]:
# Convert categorical data to numeric with `pd.get_dummies`
cat_dummies = pd.get_dummies(application_df.drop(['STATUS', 'SPECIAL_CONSIDERATIONS', 'ASK_AMT', 'IS_SUCCESSFUL'], axis = 1))
processed_application_df = pd.concat([
    application_df[['STATUS', 'SPECIAL_CONSIDERATIONS', 'ASK_AMT', 'IS_SUCCESSFUL']], cat_dummies], axis = 1)
processed_application_df.head()

,STATUS,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,...,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M+,INCOME_AMT_1M-10M,INCOME_AMT_25000-99999
0,1,0,5000,1,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
1,1,0,108590,1,0,0,0,1,0,0,...,0,1,0,0,0,1,0,0,0,0
2,1,0,5000,0,0,0,0,0,0,1,...,1,0,0,0,1,0,0,0,0,0
3,1,0,6692,1,0,0,0,1,0,0,...,0,0,0,1,0,1,0,0,0,0
4,1,0,142590,1,0,0,0,1,0,0,...,0,0,0,1,0,0,1,0,0,0

In [20]:
# Split our preprocessed data into our features and target arrays
y = processed_application_df['IS_SUCCESSFUL']
X = processed_application_df.drop(['IS_SUCCESSFUL'], axis = 1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 0)

In [21]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [22]:
pd.DataFrame(X_train_scaled).head()

,0,1,2,3,4,5,6,7,8,9,...,29,30,31,32,33,34,35,36,37,38
0,0.008818,-0.029257,-0.033233,-0.089628,-0.126792,-0.179158,0.520346,-0.220139,-0.185755,-0.191937,...,-0.653188,-0.119471,-0.03638,0.677267,0.633617,-0.194104,-0.330273,-0.102799,-0.184857,-0.348508
1,0.008818,-0.029257,-0.033233,-0.089628,-0.126792,-0.179158,0.520346,-0.220139,-0.185755,-0.191937,...,1.530954,-0.119471,-0.03638,-1.476523,0.633617,-0.194104,-0.330273,-0.102799,-0.184857,-0.348508
2,0.008818,-0.029257,-0.032191,-0.089628,-0.126792,-0.179158,0.520346,-0.220139,-0.185755,-0.191937,...,-0.653188,-0.119471,-0.03638,0.677267,-1.578240,-0.194104,-0.330273,-0.102799,-0.184857,2.869374
3,0.008818,-0.029257,-0.033233,-0.089628,-0.126792,-0.179158,0.520346,-0.220139,-0.185755,-0.191937,...,1.530954,-0.119471,-0.03638,-1.476523,0.633617,-0.194104,-0.330273,-0.102799,-0.184857,-0.348508
4,0.008818,-0.029257,-0.033233,-0.089628,-0.126792,-0.179158,0.520346,-0.220139,-0.185755,-0.191937,...,-0.653188,-0.119471,-0.03638,0.677267,0.633617,-0.194104,-0.330273,-0.102799,-0.184857,-0.348508

## Compile, Train and Evaluate the Model

In [23]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = X_train_scaled.shape[1] # number of columns
# increasing nodes in 2nd layer
hidden_nodes_layer1 = 100
hidden_nodes_layer2 = 40
# hidden_nodes_layer3 = 20 - didn't end up doing this

nn = Sequential()

# First hidden layer
nn.add(Dense(units = hidden_nodes_layer1, activation = 'relu', input_dim = number_input_features))

# Second hidden layer
nn.add(Dense(units = hidden_nodes_layer2, activation = 'relu'))

# Third hidden layer - didn't end up doing this
#nn.add(Dense(units = hidden_nodes_layer3, activation = 'relu'))

# Output layer
nn.add(Dense(units = 1, activation = 'sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               4000

 dense_1 (Dense)             (None, 40)                4040

 dense_2 (Dense)             (None, 1)                 41

=================================================================
Total params: 8081 (31.57 KB)
Trainable params: 8081 (31.57 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [25]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics = ['accuracy'])

In [26]:
# Train the model
# code from official tensorflow documentation, 2nd link in README
checkpoint_filepath = 'nn_checkpoints_optimization/weights.ckpt'
nn_checkpoint_callback = tf.keras.callbacks.ModelCheckpoint(
    filepath = checkpoint_filepath,
    save_weights_only = True,
    monitor = 'val_accuracy',
    mode = 'max',
    save_freq = 5)
nn.fit(X_train_scaled, y_train, epochs = 120, callbacks = [nn_checkpoint_callback])

Epoch 1/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5666 - accuracy: 0.7247
Epoch 2/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5543 - accuracy: 0.7299
Epoch 3/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5513 - accuracy: 0.7303
Epoch 4/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5486 - accuracy: 0.7332
Epoch 5/120
804/804 [==============================] - 19s 24ms/step - loss: 0.5473 - accuracy: 0.7328
Epoch 6/120
804/804 [==============================] - 20s 24ms/step - loss: 0.5459 - accuracy: 0.7338
Epoch 7/120
804/804 [==============================] - 20s 24ms/step - loss: 0.5461 - accuracy: 0.7346
Epoch 8/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5452 - accuracy: 0.7346
Epoch 9/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5438 - accuracy: 0.7345
Epoch 10/120
804/804 [==============================] - 19s 24ms/step - loss: 0.5439 - accuracy: 0.7359
Epoch 11/120
804/804 [==============================] - 20s 24ms/step - loss: 0.5429 - accuracy: 0.7360
Epoch 12/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5425 - accuracy: 0.7367
Epoch 13/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5423 - accuracy: 0.7367
Epoch 14/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5415 - accuracy: 0.7373
Epoch 15/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5413 - accuracy: 0.7388
Epoch 16/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5413 - accuracy: 0.7384
Epoch 17/120
804/804 [==============================] - 21s 26ms/step - loss: 0.5406 - accuracy: 0.7376
Epoch 18/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5406 - accuracy: 0.7386
Epoch 19/120
804/804 [==============================] - 21s 26ms/step - loss: 0.5398 - accuracy: 0.7394
Epoch 20/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5400 - accuracy: 0.7379
Epoch 21/120
804/804 [==============================] - 20s 24ms/step - loss: 0.5400 - accuracy: 0.7381
Epoch 22/120
804/804 [==============================] - 20s 24ms/step - loss: 0.5387 - accuracy: 0.7386
Epoch 23/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5393 - accuracy: 0.7386
Epoch 24/120
804/804 [==============================] - 20s 24ms/step - loss: 0.5393 - accuracy: 0.7386
Epoch 25/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5386 - accuracy: 0.7401
Epoch 26/120
804/804 [==============================] - 19s 24ms/step - loss: 0.5386 - accuracy: 0.7389
Epoch 27/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5390 - accuracy: 0.7388
Epoch 28/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5381 - accuracy: 0.7396
Epoch 29/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5378 - accuracy: 0.7405
Epoch 30/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5385 - accuracy: 0.7390
Epoch 31/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5378 - accuracy: 0.7383
Epoch 32/120
804/804 [==============================] - 21s 26ms/step - loss: 0.5375 - accuracy: 0.7387
Epoch 33/120
804/804 [==============================] - 20s 24ms/step - loss: 0.5377 - accuracy: 0.7400
Epoch 34/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5374 - accuracy: 0.7399
Epoch 35/120
804/804 [==============================] - 21s 26ms/step - loss: 0.5374 - accuracy: 0.7398
Epoch 36/120
804/804 [==============================] - 20s 26ms/step - loss: 0.5373 - accuracy: 0.7396
Epoch 37/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5369 - accuracy: 0.7390
Epoch 38/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5368 - accuracy: 0.7409
Epoch 39/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5369 - accuracy: 0.7401
Epoch 40/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5366 - accuracy: 0.7398
Epoch 41/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5366 - accuracy: 0.7399
Epoch 42/120
804/804 [==============================] - 21s 26ms/step - loss: 0.5367 - accuracy: 0.7411
Epoch 43/120
804/804 [==============================] - 19s 24ms/step - loss: 0.5363 - accuracy: 0.7405
Epoch 44/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5367 - accuracy: 0.7407
Epoch 45/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5363 - accuracy: 0.7399
Epoch 46/120
804/804 [==============================] - 21s 26ms/step - loss: 0.5357 - accuracy: 0.7397
Epoch 47/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5361 - accuracy: 0.7397
Epoch 48/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5360 - accuracy: 0.7405
Epoch 49/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5360 - accuracy: 0.7399
Epoch 50/120
804/804 [==============================] - 19s 24ms/step - loss: 0.5360 - accuracy: 0.7397
Epoch 51/120
804/804 [==============================] - 20s 24ms/step - loss: 0.5354 - accuracy: 0.7405
Epoch 52/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5357 - accuracy: 0.7400
Epoch 53/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5353 - accuracy: 0.7407
Epoch 54/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5354 - accuracy: 0.7413
Epoch 55/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5357 - accuracy: 0.7407
Epoch 56/120
804/804 [==============================] - 19s 24ms/step - loss: 0.5354 - accuracy: 0.7404
Epoch 57/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5354 - accuracy: 0.7394
Epoch 58/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5352 - accuracy: 0.7410
Epoch 59/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5355 - accuracy: 0.7408
Epoch 60/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5351 - accuracy: 0.7401
Epoch 61/120
804/804 [==============================] - 19s 24ms/step - loss: 0.5350 - accuracy: 0.7406
Epoch 62/120
804/804 [==============================] - 20s 24ms/step - loss: 0.5351 - accuracy: 0.7414
Epoch 63/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5349 - accuracy: 0.7410
Epoch 64/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5346 - accuracy: 0.7411
Epoch 65/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5349 - accuracy: 0.7413
Epoch 66/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5346 - accuracy: 0.7414
Epoch 67/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5347 - accuracy: 0.7408
Epoch 68/120
804/804 [==============================] - 19s 24ms/step - loss: 0.5347 - accuracy: 0.7415
Epoch 69/120
804/804 [==============================] - 19s 24ms/step - loss: 0.5346 - accuracy: 0.7409
Epoch 70/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5344 - accuracy: 0.7408
Epoch 71/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5344 - accuracy: 0.7413
Epoch 72/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5340 - accuracy: 0.7409
Epoch 73/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5340 - accuracy: 0.7415
Epoch 74/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5340 - accuracy: 0.7420
Epoch 75/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5344 - accuracy: 0.7409
Epoch 76/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5340 - accuracy: 0.7416
Epoch 77/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5341 - accuracy: 0.7413
Epoch 78/120
804/804 [==============================] - 19s 24ms/step - loss: 0.5342 - accuracy: 0.7412
Epoch 79/120

804/804 [==============================] - 19s 24ms/step - loss: 0.5339 - accuracy: 0.7417
Epoch 80/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5337 - accuracy: 0.7413
Epoch 81/120
804/804 [==============================] - 19s 24ms/step - loss: 0.5341 - accuracy: 0.7417
Epoch 82/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5335 - accuracy: 0.7423
Epoch 83/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5332 - accuracy: 0.7412
Epoch 84/120
804/804 [==============================] - 20s 24ms/step - loss: 0.5337 - accuracy: 0.7419
Epoch 85/120
804/804 [==============================] - 21s 26ms/step - loss: 0.5336 - accuracy: 0.7410
Epoch 86/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5340 - accuracy: 0.7418
Epoch 87/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5338 - accuracy: 0.7413
Epoch 88/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5335 - accuracy: 0.7419
Epoch 89/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5334 - accuracy: 0.7409
Epoch 90/120
804/804 [==============================] - 19s 24ms/step - loss: 0.5333 - accuracy: 0.7419
Epoch 91/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5335 - accuracy: 0.7413
Epoch 92/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5335 - accuracy: 0.7409
Epoch 93/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5332 - accuracy: 0.7418
Epoch 94/120
804/804 [==============================] - 21s 26ms/step - loss: 0.5335 - accuracy: 0.7412
Epoch 95/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5331 - accuracy: 0.7414
Epoch 96/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5332 - accuracy: 0.7418
Epoch 97/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5331 - accuracy: 0.7418
Epoch 98/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5334 - accuracy: 0.7411
Epoch 99/120
804/804 [==============================] - 21s 26ms/step - loss: 0.5331 - accuracy: 0.7423
Epoch 100/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5332 - accuracy: 0.7412
Epoch 101/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5327 - accuracy: 0.7412
Epoch 102/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5332 - accuracy: 0.7419
Epoch 103/120
804/804 [==============================] - 21s 26ms/step - loss: 0.5329 - accuracy: 0.7410
Epoch 104/120
804/804 [==============================] - 21s 26ms/step - loss: 0.5335 - accuracy: 0.7416
Epoch 105/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5332 - accuracy: 0.7416
Epoch 106/120
804/804 [==============================] - 21s 26ms/step - loss: 0.5326 - accuracy: 0.7424
Epoch 107/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5330 - accuracy: 0.7413
Epoch 108/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5328 - accuracy: 0.7414
Epoch 109/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5329 - accuracy: 0.7420
Epoch 110/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5332 - accuracy: 0.7414
Epoch 111/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5329 - accuracy: 0.7410
Epoch 112/120
804/804 [==============================] - 20s 24ms/step - loss: 0.5331 - accuracy: 0.7418
Epoch 113/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5331 - accuracy: 0.7420
Epoch 114/120
804/804 [==============================] - 21s 26ms/step - loss: 0.5329 - accuracy: 0.7413
Epoch 115/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5326 - accuracy: 0.7413
Epoch 116/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5331 - accuracy: 0.7417
Epoch 117/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5335 - accuracy: 0.7417
Epoch 118/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5330 - accuracy: 0.7421
Epoch 119/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5327 - accuracy: 0.7417
Epoch 120/120
804/804 [==============================] - 20s 25ms/step - loss: 0.5327 - accuracy: 0.7408

In [27]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5924 - accuracy: 0.7237 - 352ms/epoch - 1ms/step
Loss: 0.5924369096755981, Accuracy: 0.7237317562103271

In [28]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization.h5')

C:\Users\Peter Solis\anaconda3\envs\dev\lib\site-packages\keras\src\engine\training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(